html {
	margin: 0;
	padding: 0;
	display: inline-block;
}

.container {
	width: auto;
	heigth: 100%;
	font-family: sans-serif;
	font-weight: 100;
	display: grid;
	grid-template-areas: 
		"otherTimer nothing instructions"
		"buttons mainTimer switch"
		"controls controls controls";
	grid-auto-columns: 1fr 1fr 1fr;
	grid-auto-rows: 1fr 1fr 1fr;

}

#userInput {
	grid-area: controls;
	display: inline;
	justify-self: center;
	align-self: start;
	background-color: lightgray;
}

.mainDisplay {
	color: red;
	font-size: 50px;
	grid-area: mainTimer;
	align-self: center;
	justify-self: start;
	background-color: lightgray;
}

.backupDisplay {
	grid-area: otherTimer;
	background-color: lightgray;
	align-self: center;
	justify-self: center;
}

.text {
	grid-area: instructions;
	justify-self: center;
	align-self: center;
	background-color: lightgray;
}

.buttons {
	grid-area: buttons;
	align-self: center;
	justify-self: center;
	background-color: lightgray;
}

.switch {
	grid-area: switch;
	background-color: lightgray;
}