html {
	margin: 0;
	padding: 0;
	display: inline-block; 
	height: 100%;
	width: 100%;
}

body {
	justify-content: center;
	align-content: center;
	justify-items: center;
	align-items: center;
	justify-self: center;
	align-self: center;
	width: 100%;
	height: 100%;
	display: block;
}

.container {
	width: auto;
	height: 100%;
	font-family: 'Share Tech Mono', monospace;
	font-weight: 100;
	display: grid;
	grid-template-areas: 
		"1 controls 3" 
		"buttons mainTimer switch" 
		"7 otherTimer 9";
	grid-auto-columns: minmax(46px, auto);
	grid-auto-rows: auto;
}

#userInput {
	grid-area: controls;
	display: inline;
	justify-self: center;
	align-self: end;
	text-align: center;
	text-shadow: 6px 4px 20px #5a5a5a;
}

.mainDisplay {
	color: red;
	font-size: 126px;
	grid-area: mainTimer;
	align-self: center;
	justify-self: center;
	text-shadow: 6px 4px 20px #5a5a5a;
	border: 1px solid #F44336;
	border-radius: 33px;
}

#timerDisplay {
	padding: 4px;
	margin: 0px;
}

.backupDisplay {
	grid-area: otherTimer;
	align-self: start;
	justify-self: start;
	display: inline-flex;
	text-shadow: 6px 4px 20px #5a5a5a;
}

/* .text {
	grid-area: instructions;
	justify-self: center;
	align-self: center;
	background-color: lightgray;
} */

.buttons {
	grid-area: buttons;
	display: grid;
	grid-template-areas: "play" "pause" "reset" "stop";
	grid-auto-columns: auto;
	grid-auto-rows: auto;
	justify-self: center;
	/* width: 48px; */
	/* background-color: lightgray; */
	height: auto;
	align-self: stretch;
}

.switch {
	grid-area: switch;
	align-self: start;
	justify-self: start;
	text-align: center;
}

.switchButton {
	width: 48px;
	height: 17px;
	background-color: white;
	border-radius: 56px;
	box-shadow: 6px 4px 20px #5a5a5a;
}

.backupTimerTitle {
	color: black;
}

#waitingTimer {
	color: #d65345;
}

.selection {
	color: red;
}

.selectionTitle {
	color: black;
}

.icon {
	width: 30px;
	height: 30px;
	box-shadow: 6px 4px 0px 0px #f2f2f2;
}

/*BUTTONS*/
.playButton {
	grid-area: play;
}

.pauseButton {
	grid-area: pause;
}

.resetButton {
	grid-area: reset;
}

.stopButton {
	grid-area: stop;
}
